In [30]:
import pandas as pd

esg_2020 = pd.read_csv('csv/esg/2020_esg.csv', index_col=0)
esg_2021 = pd.read_csv('csv/esg/2021_esg.csv', index_col=0)
esg_2022 = pd.read_csv('csv/esg/2022_esg.csv', index_col=0)
esg_2023 = pd.read_csv('csv/esg/2023_esg.csv', index_col=0)
esg_2024 = pd.read_csv('csv/esg/2024_esg.csv', index_col=0)

In [9]:
def word(df, year) :
    df['연도'] = year
    df['회사명'] = df['회사명'].str.strip(f'{year} N N')
    df['종합등급'] = df['종합등급'].str.strip('KCGS')
    df['환경'] = df['환경'].str.strip('환경')
    df['사회'] = df['사회'].str.strip('사회')
    df['지배구조'] = df['지배구조'].str.strip('지배구조')

    return df

In [10]:
esg_2020 = word(esg_2020, 2020)
esg_2021 = word(esg_2021, 2021)
esg_2022 = word(esg_2022, 2022)
esg_2023 = word(esg_2023, 2023)
esg_2024 = word(esg_2024, 2024)

In [11]:
esg_2024

           회사명  종합등급    환경    사회 지배구조    연도
0       AJ네트웍스    B+     C     A   B+  2024
1        AK홀딩스     A     A    A+   B+  2024
2          BGF     A     A    A+   B+  2024
3       BGF리테일     A     A    A+    A  2024
4      BNK금융지주     A     A    A+    A  2024
..         ...   ...   ...   ...  ...   ...
794  휴니드테크놀러지스     D     C     D    D  2024
795        휴비스     A    B+    A+   B+  2024
796        휴스틸           C     C    C  2024
797       흥국화재    B+     B    B+   B+  2024
798       흥아해운     B     B    B+    B  2024

[799 rows x 6 columns]

- A+ : 6
- A
- B+
- B
- C
- D

In [14]:
esg_2020[esg_2020['회사명'] == '롯데푸드']

      회사명 종합등급    환경    사회 지배구조    연도
276  롯데푸드    A    B+    A+   B+  2020

In [5]:
e2016 = pd.read_csv('./esg_2016.csv')
e2016

         종목명 통합등급  환경   사회 지배구조  평가연도
0     AJ네트웍스  B이하   C  B이하  B이하  2016
1      AJ렌터카  B이하   C  B이하  B이하  2016
2      AK홀딩스  B이하   B  B이하  B이하  2016
3        BGF  B이하   B   B+  B이하  2016
4    BNK금융지주    A  A+   B+  B이하  2016
..       ...  ...  ..  ...  ...   ...
708    유양디앤유  B이하   B  B이하  B이하  2016
709      유엔젤  B이하   C  B이하  B이하  2016
710     유유제약  B이하   B  B이하  B이하  2016
711     유진증권  B이하   A  B이하  B이하  2016
712     유한양행   B+  B+  B이하   B+  2016

[713 rows x 6 columns]

In [14]:
e2016[e2016.duplicated(['종목명'])]

       종목명 통합등급 환경   사회 지배구조  평가연도
618  신성이엔지  B이하  C  B이하  B이하  2016

In [15]:
e2016[e2016['종목명'] == '신성이엔지']

       종목명 통합등급 환경   사회 지배구조  평가연도
617  신성이엔지  B이하  B  B이하  B이하  2016
618  신성이엔지  B이하  C  B이하  B이하  2016

In [21]:
a = pd.read_csv('사회_1기.csv', index_col=0)
a

,종목명,2012사회,2013사회,2014사회,2015사회,2016사회,2017사회,2018사회,종목코드,시장구분,업종명,시가총액
0,AK홀딩스,B이하,B이하,B이하,B이하,B이하,B이하,B이하,6840.0,KOSPI,기타금융,1.959310e+11
1,BYC,B이하,B이하,B이하,B이하,B이하,B이하,B이하,1460.0,KOSPI,섬유의복,2.464110e+11
2,CJ,B이하,A,A,A,A,A,A+,1040.0,KOSPI,기타금융,3.574180e+12
3,CJCGV,B이하,B이하,B+,B이하,B+,B+,B+,79160.0,KOSPI,서비스업,7.101060e+11
4,CJ대한통운,B+,A,A,B+,A,B+,B+,120.0,KOSPI,운수창고업,2.817320e+12
...,...,...,...,...,...,...,...,...,...,...,...,...
903,스타리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204210.0,KOSPI,서비스업,3.079852e+10
904,아주스틸,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139990.0,KOSPI,철강금속,1.634750e+11
905,에이리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140910.0,KOSPI,서비스업,1.396929e+10
906,케이탑리츠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145270.0,KOSPI,서비스업,4.868556e+10
907,한컴라이프케어,NaN,NaN,NaN,NaN,NaN,NaN,NaN,372910.0,KOSPI,의료정밀,1.801600e+11

In [22]:
a.isna().sum()

종목명         0
2012사회    204
2013사회    217
2014사회    216
2015사회    215
2016사회    196
2017사회    175
2018사회    181
종목코드      107
시장구분      107
업종명       107
시가총액      107
dtype: int64

In [27]:
a = a.dropna().reset_index(drop=True)

In [28]:
a

,종목명,2012사회,2013사회,2014사회,2015사회,2016사회,2017사회,2018사회,종목코드,시장구분,업종명,시가총액
0,AK홀딩스,B이하,B이하,B이하,B이하,B이하,B이하,B이하,6840.0,KOSPI,기타금융,1.959310e+11
1,BYC,B이하,B이하,B이하,B이하,B이하,B이하,B이하,1460.0,KOSPI,섬유의복,2.464110e+11
2,CJ,B이하,A,A,A,A,A,A+,1040.0,KOSPI,기타금융,3.574180e+12
3,CJCGV,B이하,B이하,B+,B이하,B+,B+,B+,79160.0,KOSPI,서비스업,7.101060e+11
4,CJ대한통운,B+,A,A,B+,A,B+,B+,120.0,KOSPI,운수창고업,2.817320e+12
...,...,...,...,...,...,...,...,...,...,...,...,...
598,한화생명,B이하,B이하,B이하,A,B+,A,B+,88350.0,KOSPI,보험,2.410170e+12
599,현대퓨처넷,B이하,B이하,B+,B이하,B이하,B+,B+,126560.0,KOSPI,통신업,5.069340e+11
600,현대위아,B이하,B+,B+,B+,B+,B이하,B이하,11210.0,KOSPI,운수장비,1.558280e+12
601,현대홈쇼핑,B+,B이하,B이하,B이하,B이하,B이하,B+,57050.0,KOSPI,유통업,6.840000e+11
602,휠라홀딩스,B이하,B이하,B이하,B이하,B이하,B이하,B이하,81660.0,KOSPI,유통업,2.460460e+12

In [25]:
a.isna().sum()

종목명       0
2012사회    0
2013사회    0
2014사회    0
2015사회    0
2016사회    0
2017사회    0
2018사회    0
종목코드      0
시장구분      0
업종명       0
시가총액      0
dtype: int64