In [4]:
import pandas as pd

df = pd.read_csv('csv/총자본_총부채_총자산.csv')
df

,Symbol,Name,결산월,회계년,주기,총자본(천원),총부채(천원),총자산(천원)
0,A005930,삼성전자,12,2011,Annual,"101,313,630,000","54,486,633,000","155,800,263,000"
1,A005930,삼성전자,12,2012,Annual,"121,480,206,000","59,591,364,000","181,071,570,000"
2,A005930,삼성전자,12,2013,Annual,"150,016,010,000","64,059,008,000","214,075,018,000"
3,A005930,삼성전자,12,2014,Annual,"168,088,188,000","62,334,770,000","230,422,958,000"
4,A005930,삼성전자,12,2015,Annual,"179,059,805,000","63,119,716,000","242,179,521,000"
...,...,...,...,...,...,...,...,...
11377,A071950,코아스,12,2020,Annual,"23,987,325","49,248,700","73,236,024"
11378,A071950,코아스,12,2021,Annual,"19,040,056","60,259,190","79,299,246"
11379,A071950,코아스,12,2022,Annual,"17,870,244","58,375,881","76,246,125"
11380,A071950,코아스,12,2023,Annual,"10,847,539","59,599,079","70,446,618"
11381,A071950,코아스,12,2024,Annual,NaN,NaN,NaN

In [8]:
df.isna().sum()

Symbol        0
Name          0
결산월           0
회계년           0
주기            0
총자본(천원)    1365
총부채(천원)    1365
총자산(천원)    1365
dtype: int64

In [12]:
df = df.dropna().reset_index(drop=True)
df

,Symbol,Name,결산월,회계년,주기,총자본(천원),총부채(천원),총자산(천원)
0,A005930,삼성전자,12,2011,Annual,"101,313,630,000","54,486,633,000","155,800,263,000"
1,A005930,삼성전자,12,2012,Annual,"121,480,206,000","59,591,364,000","181,071,570,000"
2,A005930,삼성전자,12,2013,Annual,"150,016,010,000","64,059,008,000","214,075,018,000"
3,A005930,삼성전자,12,2014,Annual,"168,088,188,000","62,334,770,000","230,422,958,000"
4,A005930,삼성전자,12,2015,Annual,"179,059,805,000","63,119,716,000","242,179,521,000"
...,...,...,...,...,...,...,...,...
10012,A071950,코아스,12,2019,Annual,"25,320,220","51,994,120","77,314,339"
10013,A071950,코아스,12,2020,Annual,"23,987,325","49,248,700","73,236,024"
10014,A071950,코아스,12,2021,Annual,"19,040,056","60,259,190","79,299,246"
10015,A071950,코아스,12,2022,Annual,"17,870,244","58,375,881","76,246,125"
10016,A071950,코아스,12,2023,Annual,"10,847,539","59,599,079","70,446,618"

In [19]:
df.isna().sum()

Symbol     0
Name       0
결산월        0
회계년        0
주기         0
총자본(천원)    0
총부채(천원)    0
총자산(천원)    0
dtype: int64

In [24]:
df['총자산(천원)']

0        155,800,263,000
1        181,071,570,000
2        214,075,018,000
3        230,422,958,000
4        242,179,521,000
              ...
10012         77,314,339
10013         73,236,024
10014         79,299,246
10015         76,246,125
10016         70,446,618
Name: 총자산(천원), Length: 10017, dtype: object

In [29]:
df['총자산(천원)'] = df['총자산(천원)'].apply(lambda x : x.replace(',', ''))
df['총자산(천원)']

0        155800263000
1        181071570000
2        214075018000
3        230422958000
4        242179521000
             ...
10012        77314339
10013        73236024
10014        79299246
10015        76246125
10016        70446618
Name: 총자산(천원), Length: 10017, dtype: object

In [30]:
df['총부채(천원)'] = df['총부채(천원)'].apply(lambda x : x.replace(',', ''))
df['총부채(천원)']

0        54486633000
1        59591364000
2        64059008000
3        62334770000
4        63119716000
            ...
10012       51994120
10013       49248700
10014       60259190
10015       58375881
10016       59599079
Name: 총부채(천원), Length: 10017, dtype: object

In [34]:
df['순자산'] = df['총자산(천원)'].apply(lambda x : int(x)) - df['총부채(천원)'].apply(lambda x : int(x))
df['순자산']

0        101313630000
1        121480206000
2        150016010000
3        168088188000
4        179059805000
             ...
10012        25320219
10013        23987324
10014        19040056
10015        17870244
10016        10847539
Name: 순자산, Length: 10017, dtype: int64

In [36]:
total = pd.read_csv('csv/년말시가총액_esg.csv')
total

,종목명,2011 Market Cap,2012 Market Cap,2013 Market Cap,2014 Market Cap,2015 Market Cap,2016 Market Cap,2017 Market Cap,2018 Market Cap,2019 Market Cap,2020 Market Cap,2021 Market Cap,2022 Market Cap,2023 Market Cap
0,AK홀딩스,3.248500e+11,1.655880e+11,4.769680e+11,1.062450e+12,8.372460e+11,7.418630e+11,9.074580e+11,7.153680e+11,4.583660e+11,3.331760e+11,2.556780e+11,2.278580e+11,2.265330e+11
1,BYC,1.110090e+11,1.296610e+11,1.324180e+11,2.009220e+11,3.286880e+11,2.852340e+11,2.239780e+11,1.782090e+11,1.744290e+11,2.087830e+11,3.211280e+11,2.593010e+11,2.971120e+11
2,CJ,2.276460e+12,3.496270e+12,3.474990e+12,4.709170e+12,7.608660e+12,5.624710e+12,5.469890e+12,3.662540e+12,3.229030e+12,3.121360e+12,2.852930e+12,2.873100e+12,3.168290e+12
3,CJCGV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CJ대한통운,1.710930e+12,2.292640e+12,2.281230e+12,4.471220e+12,4.357160e+12,4.083410e+12,3.193730e+12,3.809660e+12,3.535910e+12,3.775440e+12,2.874360e+12,2.137520e+12,2.901730e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,풀무원,1.237960e+11,1.828370e+11,2.483530e+11,4.228100e+11,7.084920e+11,5.351780e+11,6.551640e+11,3.032040e+11,4.285230e+11,6.308950e+11,6.594850e+11,4.269500e+11,3.998840e+11
416,풍산,7.342360e+11,9.416160e+11,8.014940e+11,7.020080e+11,7.720690e+11,1.134980e+12,1.331150e+12,7.664640e+11,6.669780e+11,7.832790e+11,8.729560e+11,9.430170e+11,1.098550e+12
417,풍산홀딩스,1.876520e+11,1.837350e+11,2.303540e+11,3.357370e+11,3.251590e+11,3.800060e+11,4.113460e+11,2.879420e+11,2.660040e+11,2.233020e+11,2.945900e+11,2.945900e+11,3.694460e+11
418,KH필룩스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,하나금융지주,8.640420e+12,8.433830e+12,1.272630e+13,9.276610e+12,6.985670e+12,9.250100e+12,1.474100e+13,1.088380e+13,1.107890e+13,1.035840e+13,1.262520e+13,1.244270e+13,1.268830e+13

In [47]:
total['종목명'].value_counts().sort_values(ascending=False)

종목명
삼성물산      2
신성이엔지     2
한국제지      2
SK        2
GS건설      1
         ..
풀무원       1
풍산        1
풍산홀딩스     1
KH필룩스     1
하나금융지주    1
Name: count, Length: 416, dtype: int64

In [48]:
total[total['종목명'] == '미래에셋증권']

Empty DataFrame
Columns: [종목명, 2011 Market Cap, 2012 Market Cap, 2013 Market Cap, 2014 Market Cap, 2015 Market Cap, 2016 Market Cap, 2017 Market Cap, 2018 Market Cap, 2019 Market Cap, 2020 Market Cap, 2021 Market Cap, 2022 Market Cap, 2023 Market Cap]
Index: []